calendar.css

html, body {
 margin: 0;
 padding: 0
}

.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  /*background-color: white;*/
  top: 90;
}


.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}



.navbar a.right {
  float: right;
}


.navbar a:hover {
  background-color: #b4b2e4;
  color: black;
}


.navbar a.active {
  background-color: #333880;
  color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
 font: 1.1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 padding: 0;
 margin: 0;
 background-color: #eee;
 background-image: url("asia-travel.jpg");
 background-size: cover;
 color: #333;
}
#container{margin:0 auto;}
#left{float:left; background-color: #ffffff57; margin:0;width:580px;}
#right{float:right;width:100px;background-color: #fff;}
#center{margin:0 auto;width:100px;}

#wrapper {
 width: 1270px;
 margin: 0 auto;
 background-color: #ffffffd9;
 float: left;
}

#calendar {
 margin: 20px 0;
}

#calendar-year {

}

#calendar-year .year {
 font-size: 3.3em;
 padding: 1em;
 text-align: center;
}

.month-row {
 margin-bottom: 20px;
 display: inline-block;
 vertical-align: top;
}

.calendar-month {
 padding: 16px;
}

#month {
 border-collapse: collapse;
 margin-left: 2em;
}

#month th, #month td {
 border: 1px solid #000;
}

#month thead {
 background-color: #9c9;
}

#month td {
 width: 7em;
 height: 7em;
 padding: .2em;
 vertical-align: top;
 overflow: auto;
}

table.year {

}

table.month {

}

th.month {
 font-weight: bold;
 font-size: 1.3em;
}

th {
 font-weight: normal;
}

tr.weekheader {
 font-size: .85em;
}

tr.week {

}

td.day {
 margin: 0;
 padding: .5em;
 text-align: center;
}

.payday {
 background-color: #fefdb6;
 color: #e38d1f;
 border-radius: 8px;
 font-weight: bold;
}

.nowday {
 background-color: #ff471a;
 color: #000000;
 border-radius: 8px;
}

.npday {
 background-color: #1f7a1f;
 color: #000000;
 border-radius: 8px;
 font-weight: bold;
}