<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar.css')}}" />
<title>Дни проведения упосатхи в 2020 году</title>
</head>
<body>
        <div id="container">
        <div id="left">
        {{nav.left.render()}}
        </div>
      <div id="wrapper">
 <pre style="background-color:#ffffff;color:#080808;font-family:'Courier New',monospace;font-size:13,5pt;">     <b> В день упосатхи я принимаю правила: </b>
      1) Pāṇātipātā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от убийства живых существ.
      2) Adinnādānā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от взятия того, что мне не дали.
      3) Abrahmacariyā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от прелюбодеяния.
      4) Musāvādā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от намеренной лжи.
      5) Surāmeraya-majja-pamādaţţhānā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от употребления напитков и средств,
      вызывающих помутнение сознания.
      6) Vikālabhojanā veramaṇī sikkhāpadaṃ samādiyāmi. Избегать принятия пищи в неположенное время.
      7) Nacca-gīta-vādita-visūka-dassanā mālā-gandha-vilepana-dhāraṇa-maṇdana-vibhūsanaţţhānā veramaṇī sikkhāpadaṃ
      samādiyāmi. Воздерживаться от танцев, пения, музыки, посещения развлекательных мероприятий, ношения гирлянд,
      использования духов и косметики для украшения тела.
      8) Uccāsayana-mahāsayanā veramaṇī sikkhāpadaṃ samādiyāmi. Воздерживаться от использования высоких или больших
      постелей.

      Первые 5 обетов выполняются вообще по жизни. В день упосатхи список обетов расширяется до 8.
 </pre>
        </div>
</div>
        </body>
</html>